.moving-block {
    background-color: #162CA2;
    height: 5vw;
    width: 5vw;
    position: absolute;
}

.catch-me {
    background-color: #EC2004;
    height: 5vw;
    width: 5vw;
    position: absolute;
}

.images {
    height: 5vw;
    width: 5vw;
}