.moving-block {
    height: 5vw;
    width: 5vw;
    position: absolute;
    background-color: dodgerblue;
}

.catch-me {
    height: 5vw;
    width: 5vw;
    position: absolute;
    background-color: brown;
}

.images {
    height: 100px;
    width: 100px;
}

body {
    /* background: url("/images/background.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}