.moving-block {
    height: 50px;
    width: 50px;
    position: absolute;
}

.catch-me {
    height: 50px;
    width: 50px;
    position: absolute;
}

.images {
    height: 100px;
    width: 100px;
}

body {
    background: url("/moving-block/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}